@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Euphoria+Script');
$grid-size: 45px;

#test {
  color: red;
}

body {
  background: aliceblue;
}

.square {
  background: #fff;
  margin-top: -1px;
  margin-right: -1px;

  border: 1px solid #000000;
  font-size: 0.5 * $grid-size;
  font-weight: bold;
  line-height: $grid-size;
  float: left;

  padding: 0;
  text-align: center;

  height: $grid-size;
  width: $grid-size;
}

.square:focus {
  outline: none;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game {
  display: flex;
  flex-direction: row;
}

.panel {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  font-family: 'Lato', sans-serif;
  line-height: 25px;
  .title {
    font-size: 25px;
  }

  img {
    margin-left: 5px;
    width: 16px;
  }
}

